<?xml version="1.0" encoding="utf-8"?>
<namespace name="Menu">
  <class name="EMenuException">
    <ancestor name="Exception" namespace="SysUtils">
      <methodref name="Create" visibility="public">
      </methodref>
      <methodref name="CreateFmt" visibility="public">
      </methodref>
      <methodref name="CreateRes" visibility="public">
      </methodref>
      <methodref name="CreateRes" visibility="public">
      </methodref>
      <methodref name="CreateResFmt" visibility="public">
      </methodref>
      <methodref name="CreateResFmt" visibility="public">
      </methodref>
      <methodref name="CreateHelp" visibility="public">
      </methodref>
      <methodref name="CreateFmtHelp" visibility="public">
      </methodref>
      <methodref name="CreateResHelp" visibility="public">
      </methodref>
      <methodref name="CreateResHelp" visibility="public">
      </methodref>
      <methodref name="CreateResFmtHelp" visibility="public">
      </methodref>
      <methodref name="CreateResFmtHelp" visibility="public">
      </methodref>
      <propertyref name="HelpContext" visibility="public">
      </propertyref>
      <propertyref name="Message" visibility="public">
      </propertyref>
      <ancestor name="TObject" namespace="System">
        <methodref name="Create" visibility="public">
        </methodref>
        <methodref name="Free" visibility="public">
        </methodref>
        <methodref name="InitInstance" visibility="public">
        </methodref>
        <methodref name="CleanupInstance" visibility="public">
        </methodref>
        <methodref name="ClassType" visibility="public">
        </methodref>
        <methodref name="ClassName" visibility="public">
        </methodref>
        <methodref name="ClassNameIs" visibility="public">
        </methodref>
        <methodref name="ClassParent" visibility="public">
        </methodref>
        <methodref name="ClassInfo" visibility="public">
        </methodref>
        <methodref name="InstanceSize" visibility="public">
        </methodref>
        <methodref name="InheritsFrom" visibility="public">
        </methodref>
        <methodref name="MethodAddress" visibility="public">
        </methodref>
        <methodref name="MethodName" visibility="public">
        </methodref>
        <methodref name="FieldAddress" visibility="public">
        </methodref>
        <methodref name="GetInterface" visibility="public">
        </methodref>
        <methodref name="GetInterfaceEntry" visibility="public">
        </methodref>
        <methodref name="GetInterfaceTable" visibility="public">
        </methodref>
        <methodref name="SafeCallException" visibility="public">
        </methodref>
        <methodref name="AfterConstruction" visibility="public">
        </methodref>
        <methodref name="BeforeDestruction" visibility="public">
        </methodref>
        <methodref name="Dispatch" visibility="public">
        </methodref>
        <methodref name="DefaultHandler" visibility="public">
        </methodref>
        <methodref name="NewInstance" visibility="public">
        </methodref>
        <methodref name="FreeInstance" visibility="public">
        </methodref>
        <methodref name="Destroy" visibility="public">
        </methodref>
      </ancestor>
    </ancestor>
  </class>
  <class name="TModMenu">
    <ancestor name="TTWXModule" namespace="Core">
      <methodref name="WriteToStream" visibility="protected" />
      <methodref name="ReadFromStream" visibility="protected" />
      <methodref name="Create" visibility="public" />
      <methodref name="Destroy" visibility="public" />
      <methodref name="GetStateValues" visibility="public" />
      <methodref name="SetStateValues" visibility="public" />
      <methodref name="StateValuesLoaded" visibility="public" />
      <ancestor name="TComponent" namespace="Classes">
        <methodref name="GetComObject" visibility="private">
        </methodref>
        <methodref name="GetComponent" visibility="private">
        </methodref>
        <methodref name="GetComponentCount" visibility="private">
        </methodref>
        <methodref name="GetComponentIndex" visibility="private">
        </methodref>
        <methodref name="Insert" visibility="private">
        </methodref>
        <methodref name="ReadLeft" visibility="private">
        </methodref>
        <methodref name="ReadTop" visibility="private">
        </methodref>
        <methodref name="Remove" visibility="private">
        </methodref>
        <methodref name="RemoveNotification" visibility="private">
        </methodref>
        <methodref name="SetComponentIndex" visibility="private">
        </methodref>
        <methodref name="SetReference" visibility="private">
        </methodref>
        <methodref name="WriteLeft" visibility="private">
        </methodref>
        <methodref name="WriteTop" visibility="private">
        </methodref>
        <methodref name="IntfGetComponent" visibility="private">
        </methodref>
        <methodref name="ChangeName" visibility="protected">
        </methodref>
        <methodref name="DefineProperties" visibility="protected">
        </methodref>
        <methodref name="GetChildren" visibility="protected">
        </methodref>
        <methodref name="GetChildOwner" visibility="protected">
        </methodref>
        <methodref name="GetChildParent" visibility="protected">
        </methodref>
        <methodref name="GetOwner" visibility="protected">
        </methodref>
        <methodref name="Loaded" visibility="protected">
        </methodref>
        <methodref name="Notification" visibility="protected">
        </methodref>
        <methodref name="PaletteCreated" visibility="protected">
        </methodref>
        <methodref name="ReadState" visibility="protected">
        </methodref>
        <methodref name="SetAncestor" visibility="protected">
        </methodref>
        <methodref name="SetDesigning" visibility="protected">
        </methodref>
        <methodref name="SetInline" visibility="protected">
        </methodref>
        <methodref name="SetDesignInstance" visibility="protected">
        </methodref>
        <methodref name="SetName" visibility="protected">
        </methodref>
        <methodref name="SetChildOrder" visibility="protected">
        </methodref>
        <methodref name="SetParentComponent" visibility="protected">
        </methodref>
        <methodref name="Updating" visibility="protected">
        </methodref>
        <methodref name="Updated" visibility="protected">
        </methodref>
        <methodref name="UpdateRegistry" visibility="protected">
        </methodref>
        <methodref name="ValidateRename" visibility="protected">
        </methodref>
        <methodref name="ValidateContainer" visibility="protected">
        </methodref>
        <methodref name="ValidateInsert" visibility="protected">
        </methodref>
        <methodref name="WriteState" visibility="protected">
        </methodref>
        <methodref name="QueryInterface" visibility="protected">
        </methodref>
        <methodref name="_AddRef" visibility="protected">
        </methodref>
        <methodref name="_Release" visibility="protected">
        </methodref>
        <methodref name="GetTypeInfoCount" visibility="protected">
        </methodref>
        <methodref name="GetTypeInfo" visibility="protected">
        </methodref>
        <methodref name="GetIDsOfNames" visibility="protected">
        </methodref>
        <methodref name="Invoke" visibility="protected">
        </methodref>
        <methodref name="Create" visibility="public">
        </methodref>
        <methodref name="Destroy" visibility="public">
        </methodref>
        <methodref name="BeforeDestruction" visibility="public">
        </methodref>
        <methodref name="DestroyComponents" visibility="public">
        </methodref>
        <methodref name="Destroying" visibility="public">
        </methodref>
        <methodref name="ExecuteAction" visibility="public">
        </methodref>
        <methodref name="FindComponent" visibility="public">
        </methodref>
        <methodref name="FreeNotification" visibility="public">
        </methodref>
        <methodref name="RemoveFreeNotification" visibility="public">
        </methodref>
        <methodref name="FreeOnRelease" visibility="public">
        </methodref>
        <methodref name="GetEnumerator" visibility="public">
        </methodref>
        <methodref name="GetParentComponent" visibility="public">
        </methodref>
        <methodref name="GetNamePath" visibility="public">
        </methodref>
        <methodref name="HasParent" visibility="public">
        </methodref>
        <methodref name="InsertComponent" visibility="public">
        </methodref>
        <methodref name="RemoveComponent" visibility="public">
        </methodref>
        <methodref name="SetSubComponent" visibility="public">
        </methodref>
        <methodref name="SafeCallException" visibility="public">
        </methodref>
        <methodref name="UpdateAction" visibility="public">
        </methodref>
        <methodref name="IsImplementorOf" visibility="public">
        </methodref>
        <methodref name="ReferenceInterface" visibility="public">
        </methodref>
        <propertyref name="ComObject" visibility="public">
        </propertyref>
        <propertyref name="Components" visibility="public">
        </propertyref>
        <propertyref name="ComponentCount" visibility="public">
        </propertyref>
        <propertyref name="ComponentIndex" visibility="public">
        </propertyref>
        <propertyref name="ComponentState" visibility="public">
        </propertyref>
        <propertyref name="ComponentStyle" visibility="public">
        </propertyref>
        <propertyref name="DesignInfo" visibility="public">
        </propertyref>
        <propertyref name="Owner" visibility="public">
        </propertyref>
        <propertyref name="VCLComObject" visibility="public">
        </propertyref>
        <propertyref name="Name" visibility="published">
        </propertyref>
        <propertyref name="Tag" visibility="published">
        </propertyref>
        <ancestor name="TPersistent" namespace="Classes">
          <methodref name="AssignError" visibility="private">
          </methodref>
          <methodref name="AssignTo" visibility="protected">
          </methodref>
          <methodref name="DefineProperties" visibility="protected">
          </methodref>
          <methodref name="GetOwner" visibility="protected">
          </methodref>
          <methodref name="Destroy" visibility="public">
          </methodref>
          <methodref name="Assign" visibility="public">
          </methodref>
          <methodref name="GetNamePath" visibility="public">
          </methodref>
          <ancestor name="TObject" namespace="System">
            <methodref name="Create" visibility="public">
            </methodref>
            <methodref name="Free" visibility="public">
            </methodref>
            <methodref name="InitInstance" visibility="public">
            </methodref>
            <methodref name="CleanupInstance" visibility="public">
            </methodref>
            <methodref name="ClassType" visibility="public">
            </methodref>
            <methodref name="ClassName" visibility="public">
            </methodref>
            <methodref name="ClassNameIs" visibility="public">
            </methodref>
            <methodref name="ClassParent" visibility="public">
            </methodref>
            <methodref name="ClassInfo" visibility="public">
            </methodref>
            <methodref name="InstanceSize" visibility="public">
            </methodref>
            <methodref name="InheritsFrom" visibility="public">
            </methodref>
            <methodref name="MethodAddress" visibility="public">
            </methodref>
            <methodref name="MethodName" visibility="public">
            </methodref>
            <methodref name="FieldAddress" visibility="public">
            </methodref>
            <methodref name="GetInterface" visibility="public">
            </methodref>
            <methodref name="GetInterfaceEntry" visibility="public">
            </methodref>
            <methodref name="GetInterfaceTable" visibility="public">
            </methodref>
            <methodref name="SafeCallException" visibility="public">
            </methodref>
            <methodref name="AfterConstruction" visibility="public">
            </methodref>
            <methodref name="BeforeDestruction" visibility="public">
            </methodref>
            <methodref name="Dispatch" visibility="public">
            </methodref>
            <methodref name="DefaultHandler" visibility="public">
            </methodref>
            <methodref name="NewInstance" visibility="public">
            </methodref>
            <methodref name="FreeInstance" visibility="public">
            </methodref>
            <methodref name="Destroy" visibility="public">
            </methodref>
          </ancestor>
        </ancestor>
      </ancestor>
    </ancestor>
    <interfaces>
      <implements name="ITWXGlobals" />
    </interfaces>
    <members>
      <field name="MainMenu" type="TTWXMenuItem" visibility="private" />
      <field name="ScriptMenu" type="TTWXMenuItem" visibility="private" />
      <field name="ScriptMenuKey" type="TTWXMenuItem" visibility="private" />
      <field name="FCurrentMenu" type="TTWXMenuItem" visibility="private" />
      <field name="LastBurst" type="string" visibility="private" />
      <field name="FInputScript" type="TScript" visibility="private" />
      <field name="InputScriptVar" type="TVarParam" visibility="private" />
      <field name="MenuItemList" type="TList" visibility="private" />
      <field name="FHelpMode" type="Boolean" visibility="private" />
      <field name="FProgramDir" type="string" visibility="private" />
      <field name="FSandboxGame" type="string" visibility="private" />
      <procedure name="miBurst" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miBurst2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miBurstRepeat" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miBurstEdit" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miConnect" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miStopScript" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miToggleDeaf" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowClients" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miExit" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLoad" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLoad2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLoadLast" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDumpVars" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDumpVars2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDumpTriggers" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListActive" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListDirectory" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miKill" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miKill2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowSector" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowSector2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowFigs" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowMines" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowDensity" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowDensity2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowDensity3" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowAnomaly" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowTraders" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miPlotCourse" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miPlotCourse2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miPlotCourse3" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miHoloscan" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miHoloscan2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowTotal" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBubbles" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBubble" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBubble2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBubble3" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBackdoors" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowBackdoors2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowPort" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowPort2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miShowClassPort" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListPorts" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListUpgradedPorts" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListenPort" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miListenPort2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miBubbleSize" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miBubbleSize2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miReconnect" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLog" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLogAnsi" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miAcceptExternal" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miCache" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miRecording" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miMenuKey" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miMenuKey2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miLocalEcho" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseCreate" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseCreate2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseCreate3" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit3" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit4" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit5" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit6" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit7" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit8" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseEdit9" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseDelete" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseDelete2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseList" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseSelect" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseSelect2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseView" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miDatabaseView2" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="miScriptInputActivate" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="ScriptLineComplete" visibility="private">
        <parameters>
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <function name="GetProgramDir" visibility="protected">
        <parameters>
          <retval type="string" />
        </parameters>
      </function>
      <procedure name="SetProgramDir" visibility="protected">
        <parameters>
          <parameter name="Value" type="string" paramflags="const" />
        </parameters>
      </procedure>
      <procedure name="AfterConstruction" visibility="public" procflags="override">
      </procedure>
      <procedure name="BeforeDestruction" visibility="public" procflags="override">
      </procedure>
      <procedure name="StateValuesLoaded" visibility="public" procflags="override">
      </procedure>
      <function name="AddCustomMenu" visibility="public">
        <parameters>
          <parameter name="Parent" type="string" />
          <parameter name="Name" type="string" />
          <parameter name="Title" type="string" />
          <parameter name="Reference" type="string" />
          <parameter name="Prompt" type="string" />
          <parameter name="HotKey" type="Char" />
          <parameter name="CloseActivate" type="Boolean" />
          <parameter name="ScriptOwner" type="TScript" />
          <retval type="TTWXMenuItem" />
        </parameters>
      </function>
      <procedure name="LinkMenu" visibility="public">
        <parameters>
          <parameter name="Item" type="TTWXMenuItem" />
        </parameters>
      </procedure>
      <procedure name="UnlinkMenu" visibility="public">
        <parameters>
          <parameter name="Item" type="TTWXMenuItem" />
        </parameters>
      </procedure>
      <procedure name="OpenMenu" visibility="public">
        <parameters>
          <parameter name="MenuName" type="string" />
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="OpenMenuItem" visibility="public">
        <parameters>
          <parameter name="Item" type="TTWXMenuItem" />
          <parameter name="ClientIndex" type="Byte" />
          <parameter name="LastMenuName" type="string" />
        </parameters>
      </procedure>
      <procedure name="CloseMenu" visibility="public">
        <parameters>
          <parameter name="TerminateScript" type="Boolean" />
        </parameters>
      </procedure>
      <procedure name="MenuText" visibility="public">
        <parameters>
          <parameter name="Text" type="string" />
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <function name="GetPrompt" visibility="public">
        <parameters>
          <retval type="string" />
        </parameters>
      </function>
      <procedure name="BeginScriptInput" visibility="public">
        <parameters>
          <parameter name="Script" type="TScript" />
          <parameter name="VarParam" type="TVarParam" />
          <parameter name="SingleKey" type="Boolean" />
        </parameters>
      </procedure>
      <procedure name="ApplySetup" visibility="public">
      </procedure>
      <function name="GetMenuByName" visibility="public">
        <parameters>
          <parameter name="MenuName" type="string" />
          <retval type="TTWXMenuItem" />
        </parameters>
      </function>
      <property name="HelpMode" visibility="public" read="FHelpMode" write="FHelpMode" type="Boolean" />
      <property name="SandboxGame" visibility="public" read="FSandboxGame" write="FSandboxGame" type="string" />
      <property name="CurrentMenu" visibility="published" read="FCurrentMenu" type="TTWXMenuItem" />
      <property name="InputScript" visibility="published" read="FInputScript" type="TScript" />
    </members>
  </class>
  <class name="TTWXMenuItem">
    <ancestor name="TObject" namespace="System">
      <methodref name="Create" visibility="public">
      </methodref>
      <methodref name="Free" visibility="public">
      </methodref>
      <methodref name="InitInstance" visibility="public">
      </methodref>
      <methodref name="CleanupInstance" visibility="public">
      </methodref>
      <methodref name="ClassType" visibility="public">
      </methodref>
      <methodref name="ClassName" visibility="public">
      </methodref>
      <methodref name="ClassNameIs" visibility="public">
      </methodref>
      <methodref name="ClassParent" visibility="public">
      </methodref>
      <methodref name="ClassInfo" visibility="public">
      </methodref>
      <methodref name="InstanceSize" visibility="public">
      </methodref>
      <methodref name="InheritsFrom" visibility="public">
      </methodref>
      <methodref name="MethodAddress" visibility="public">
      </methodref>
      <methodref name="MethodName" visibility="public">
      </methodref>
      <methodref name="FieldAddress" visibility="public">
      </methodref>
      <methodref name="GetInterface" visibility="public">
      </methodref>
      <methodref name="GetInterfaceEntry" visibility="public">
      </methodref>
      <methodref name="GetInterfaceTable" visibility="public">
      </methodref>
      <methodref name="SafeCallException" visibility="public">
      </methodref>
      <methodref name="AfterConstruction" visibility="public">
      </methodref>
      <methodref name="BeforeDestruction" visibility="public">
      </methodref>
      <methodref name="Dispatch" visibility="public">
      </methodref>
      <methodref name="DefaultHandler" visibility="public">
      </methodref>
      <methodref name="NewInstance" visibility="public">
      </methodref>
      <methodref name="FreeInstance" visibility="public">
      </methodref>
      <methodref name="Destroy" visibility="public">
      </methodref>
    </ancestor>
    <members>
      <constructor name="Create" visibility="public">
        <parameters>
          <parameter name="Owner" type="TModMenu" />
          <parameter name="Name" type="string" />
          <parameter name="OnActivate" type="TMenuEvent" />
          <parameter name="Title" type="string" />
          <parameter name="Prmpt" type="string" />
          <parameter name="Key" type="Char" />
        </parameters>
      </constructor>
      <constructor name="Create" visibility="public">
        <parameters>
          <parameter name="Owner" type="TModMenu" />
          <parameter name="Name" type="string" />
          <parameter name="Title" type="string" />
          <parameter name="Prmpt" type="string" />
          <parameter name="Key" type="Char" />
        </parameters>
      </constructor>
      <destructor name="Destroy" visibility="public">
        <parameters>
        </parameters>
      </destructor>
      <procedure name="MenuKey" visibility="public">
        <parameters>
          <parameter name="Key" type="Char" />
          <parameter name="ClientIndex" type="Byte" />
        </parameters>
      </procedure>
      <procedure name="AddItem" visibility="public">
        <parameters>
          <parameter name="Item" type="TTWXMenuItem" />
        </parameters>
      </procedure>
      <procedure name="RemoveItem" visibility="public">
        <parameters>
          <parameter name="Item" type="TTWXMenuItem" />
        </parameters>
      </procedure>
      <procedure name="AddParam" visibility="public">
        <parameters>
          <parameter name="P" type="Pointer" />
        </parameters>
      </procedure>
      <procedure name="DumpOptions" visibility="public">
      </procedure>
      <procedure name="SetOptions" visibility="public">
        <parameters>
          <parameter name="OpExit" type="Boolean" />
          <parameter name="OpList" type="Boolean" />
          <parameter name="OpHelp" type="Boolean" />
        </parameters>
      </procedure>
      <function name="GetParam" visibility="public">
        <parameters>
          <parameter name="Index" type="Integer" />
          <retval type="Pointer" />
        </parameters>
      </function>
      <function name="GetPrompt" visibility="public">
        <parameters>
          <retval type="string" />
        </parameters>
      </function>
      <function name="GetMenuItemCount" visibility="public">
        <parameters>
          <retval type="Integer" />
        </parameters>
      </function>
      <field name="FName" type="string" visibility="protected" />
      <field name="FValue" type="string" visibility="protected" />
      <field name="FPrompt" type="string" visibility="protected" />
      <field name="FLine" type="string" visibility="protected" />
      <field name="FReference" type="string" visibility="protected" />
      <field name="FTitle" type="string" visibility="protected" />
      <field name="FHelp" type="string" visibility="protected" />
      <field name="FOnLineComplete" type="TMenuEvent" visibility="protected" />
      <field name="FOnActivate" type="TMenuEvent" visibility="protected" />
      <field name="FHotKey" type="Char" visibility="protected" />
      <field name="FController" type="TModMenu" visibility="protected" />
      <field name="MenuParams" type="TList" visibility="protected" />
      <field name="MenuItems" type="TList" visibility="protected" />
      <field name="FParentMenu" type="TTWXMenuItem" visibility="protected" />
      <field name="FOpExit" type="Boolean" visibility="protected" />
      <field name="FOpList" type="Boolean" visibility="protected" />
      <field name="FOpHelp" type="Boolean" visibility="protected" />
      <field name="FCloseActivate" type="Boolean" visibility="protected" />
      <field name="FClearLine" type="Boolean" visibility="protected" />
      <field name="FIsCustom" type="Boolean" visibility="protected" />
      <field name="FScriptMacrosOn" type="Boolean" visibility="protected" />
      <field name="FScriptOwner" type="TScript" visibility="protected" />
      <event name="OnLineComplete" visibility="published" read="FOnLineComplete" write="FOnLineComplete" type="TMenuEvent" />
      <event name="OnActivate" visibility="published" read="FOnActivate" write="FOnActivate" type="TMenuEvent" />
      <property name="Title" visibility="published" read="FTitle" write="FTitle" type="string" />
      <property name="HotKey" visibility="published" read="FHotKey" write="FHotKey" type="Char" />
      <property name="Line" visibility="published" read="FLine" write="FLine" type="string" />
      <property name="ParentMenu" visibility="published" read="FParentMenu" write="FParentMenu" type="TTWXMenuItem" />
      <property name="ScriptMacrosOn" visibility="published" read="FScriptMacrosOn" write="FScriptMacrosOn" type="Boolean" />
      <property name="Name" visibility="published" read="FName" write="FName" type="string" />
      <property name="CloseActivate" visibility="published" read="FCloseActivate" write="FCloseActivate" type="Boolean" />
      <property name="Reference" visibility="published" read="FReference" write="FReference" type="string" />
      <property name="Controller" visibility="published" read="FController" write="FController" type="TModMenu" />
      <property name="ScriptOwner" visibility="published" read="FScriptOwner" write="FScriptOwner" type="TScript" />
      <property name="IsCustom" visibility="published" read="FIsCustom" write="FIsCustom" type="Boolean" />
      <property name="MenuItemCount" visibility="published" read="GetMenuItemCount" type="Integer" />
      <property name="Value" visibility="published" read="FValue" write="FValue" type="string" />
      <property name="Help" visibility="published" read="FHelp" write="FHelp" type="string" />
      <property name="ClearLine" visibility="published" read="FClearLine" write="FClearLine" type="Boolean" />
    </members>
  </class>
</namespace>
