<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="TWX Proxy" Language="1033" Version="2.7.0.0" Manufacturer="eXide" UpgradeCode="6b37de4c-889d-4651-b405-debf3bdafad5">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <!-- This code would bind the version to the product file, but I dont want to do that at this time...
      <Product Version="!(bind.FileVersion.MyAssemblyDll)" ...="">
      <File Id="MyAssemblyDll" Name="$(var.001_Application.MyAssembly.TargetFileName)" Source="$(var.001_Application.MyAssembly.TargetPath)" />-->
      
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="TWX Proxy" Level="1" Absent="disallow" ConfigurableDirectory="TWXPROXY" Description="Installs the main TWX Proxy program, including Pack 1 / 2">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="ApplicationShortcut" /> 
    </Feature>
    <Feature Id="PublicFeature" Title="Public Scripts" Level="1" TypicalDefault="install" Description="Installs common public scripts. These scripts are provided 'as-is' with no documentation. Use at your own risk.">
      <ComponentGroupRef Id="PublicComponents" />
    </Feature>

		<Property Id="TWXPROXY" Secure="yes">
			<RegistrySearch Id="ApplicationFolderSearch" Type="raw" Root="HKCU" Key="Software\eXide\TWXP" Name="InstallPath"/>
		</Property>
		<Property Id="WIXUI_INSTALLDIR" Value="TWXPROXY" />
		<UIRef Id="WixUI_InstallDir" />
		<!--		<UIRef Id="WixUI_FeatureTree" />-->
  </Product>

	<Fragment>
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <Property Id="ApplicationFolderName" Value="TWXProxy" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\sidelogo.jpg" />
    <SetDirectory Id="APPLICATIONFOLDER" Value="[WindowsVolume]" />

 

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="AppFolder">
          <Directory Id="TWXPROXY" Name="TWXProxy" >
            <Directory Id="SCRIPTS" Name="Scripts" >
              <Directory Id="INCLUDE" Name="Include" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="TWX Proxy" />
		</Directory>

		<Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="TWX Proxy 2.7"
                    Description="The Veteran's Trade Wars Helper"
                    Target="[TWXPROXY]twxp.exe"
                    WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
			<Shortcut Id="PuttyDesktopShortcut"
					  Name="Putty Telnet Client"
					  Description="Putty Telnet Client"
					  Target="[TWXPROXY]putty.exe"
					  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
			<RemoveFolder Id="CleanUpDesktopShortCut" Directory="DesktopFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\eXide\TWXP" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>


		<DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="a80ea87e-bc43-4fda-847a-d7ace2071a08">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="TWX Proxy 2.7"
                  Description="The Veteran's Trade Wars Helper"
                  Target="[TWXPROXY]twxp.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
		  <Shortcut Id="PuttyStartMenuShortcut"
					Name="Putty Telnet Client"
					Description="Putty Telnet Client"
					Target="[TWXPROXY]putty.exe"
					WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
		  <Shortcut Id="ScriptRefStartMenuShortcut"
                  Name="Script Reference"
                  Description="Script Reference v2.07"
                  Target="[TWXPROXY]script.html"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <Shortcut Id="ScriptPack2StartMenuShortcut"
                  Name="Script Pack2 Reference"
                  Description="Script Pack2 Reference"
                  Target="[TWXPROXY]pack2.html"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <util:InternetShortcut 
                  Id="WikiStartMenuShortcut"
                  Name="TWX WIKI on gitHub"
                  Target="https://github.com/TW2002/TWXProxy/wiki"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\eXide\TWXP" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>

	<Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ProductComponent" Directory="TWXPROXY" Guid="36d4d996-21c0-4cd5-b943-4bd3effa00fe" >
        <RegistryValue Id="InstallPath" Root="HKCU" Key="Software\eXide\TWXP"  Name="InstallPath" Type="string" Value="[TWXPROXY]" />
        <ProgId Id="TWXP" Description="The Veteran's Trade Wars Helper">
          <Extension Id="xdb">
            <Verb Id="open" TargetFile="MainExe" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
        <Shortcut Id="ProgramShortcut"
                  Name="TWX Proxy 2.7"
                  Description="The Veteran's Trade Wars Helper"
                  Target="[TWXPROXY]twxp.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>        
        <File Id="MainExe" Source="TWXP27\twxp.exe"/>
        <File Source="TWXP27\twxp.dll"/>
        <File Source="TWXP27\twxc.exe"/>
        <File Source="TWXP27\script.html"/>

        <File Source="TWXP27\putty.exe"/>

        <File Source="TWXP25\CapEdit.exe"/>
        <File Source="TWXP25\changes.txt"/>
        <File Source="TWXP25\GPL.txt"/>
        <File Source="TWXP25\pack2.html"/>
        <File Source="TWXP25\Readme.txt"/>
      </Component>
      <Component Id="ScriptsComponent" Directory="SCRIPTS" Guid="6bc774d9-13ba-4194-b4f9-fd316a9905a5">
        <File Source="TWXP25\Scripts\1_ECol.ts"/>
        <File Source="TWXP25\Scripts\1_KeepAlive.ts"/>
        <File Source="TWXP25\Scripts\1_Login.ts"/>
        <File Source="TWXP25\Scripts\1_Move.ts"/>
        <File Source="TWXP25\Scripts\1_MoveCol.ts"/>
        <File Source="TWXP25\Scripts\1_MoveFig.ts"/>
        <File Source="TWXP25\Scripts\1_Port.ts"/>
        <File Source="TWXP25\Scripts\1_PortFast.ts"/>
        <File Source="TWXP25\Scripts\1_Scout.ts"/>
        <File Source="TWXP25\Scripts\1_SSM.ts"/>
        <File Source="TWXP25\Scripts\1_SST.ts"/>
        <File Source="TWXP25\Scripts\1_TCOL.ts"/>
        <File Source="TWXP25\Scripts\1_Trade.ts"/>
        <File Source="TWXP25\Scripts\1_ZTM.ts"/>
        <File Source="TWXP25\Scripts\1_ZTMFast.ts"/>
        <File Source="TWXP25\Scripts\2_Build.ts"/>
        <File Source="TWXP25\Scripts\2_BuyDown.ts"/>
        <File Source="TWXP25\Scripts\2_Col.ts"/>
        <File Source="TWXP25\Scripts\2_Evil.ts"/>
        <File Source="TWXP25\Scripts\2_Find.ts"/>
        <File Source="TWXP25\Scripts\2_Gather.ts"/>
        <File Source="TWXP25\Scripts\2_MassColonise.ts"/>
        <File Source="TWXP25\Scripts\2_MassUpgrade.ts"/>
        <File Source="TWXP25\Scripts\2_Ping.ts"/>
        <File Source="TWXP25\Scripts\2_Probe.ts"/>
        <File Source="TWXP25\Scripts\2_Query.ts"/>
        <File Source="TWXP25\Scripts\2_SDF.ts"/>
        <File Source="TWXP25\Scripts\2_SDT.ts"/>
        <File Source="TWXP25\Scripts\2_Sentinel.ts"/>
        <File Source="TWXP25\Scripts\2_SSF.ts"/>
        <File Source="TWXP25\Scripts\2_SST.ts"/>
        <File Source="TWXP25\Scripts\2_WorldSSM.ts"/>
        <File Source="TWXP25\Scripts\2_WorldTrade.ts"/>
        <File Source="TWXP25\Scripts\_EP_Haggle2019.cts"/>
      </Component>
      <Component Id="IncludeComponent" Directory="INCLUDE" Guid="a1a5311e-8e93-433c-b333-ec694165e65b">
        <File Source="TWXP25\Scripts\Include\Approach.ts"/>
        <File Source="TWXP25\Scripts\Include\Cache.ts"/>
        <File Source="TWXP25\Scripts\Include\Capture.ts"/>
        <File Source="TWXP25\Scripts\Include\CheckCIM.ts"/>
        <File Source="TWXP25\Scripts\Include\CheckCLV.ts"/>
        <File Source="TWXP25\Scripts\Include\CheckOnline.ts"/>
        <File Source="TWXP25\Scripts\Include\Colonise.ts"/>
        <File Source="TWXP25\Scripts\Include\Evil.ts"/>
        <File Source="TWXP25\Scripts\Include\FastSST.ts"/>
        <File Source="TWXP25\Scripts\Include\FindProduct.ts"/>
        <File Source="TWXP25\Scripts\Include\GamePrefs.ts"/>
        <File Source="TWXP25\Scripts\Include\Gather.ts"/>
        <File Source="TWXP25\Scripts\Include\GetAttack.ts"/>
        <File Source="TWXP25\Scripts\Include\GetTarget.ts"/>
        <File Source="TWXP25\Scripts\Include\Haggle.ts"/>
        <File Source="TWXP25\Scripts\Include\Haggle.old"/>
        <File Source="TWXP25\Scripts\Include\Header.ts"/>
        <File Source="TWXP25\Scripts\Include\Land.ts"/>
        <File Source="TWXP25\Scripts\Include\MakePlanet.ts"/>
        <File Source="TWXP25\Scripts\Include\MassColonise.ts"/>
        <File Source="TWXP25\Scripts\Include\MassUpgrade.ts"/>
        <File Source="TWXP25\Scripts\Include\Move.ts"/>
        <File Source="TWXP25\Scripts\Include\MoveProduct.ts"/>
        <File Source="TWXP25\Scripts\Include\MoveShip.ts"/>
        <File Source="TWXP25\Scripts\Include\NearFig.ts"/>
        <File Source="TWXP25\Scripts\Include\PlanetCheck.ts"/>
        <File Source="TWXP25\Scripts\Include\PlanetInfo.ts"/>
        <File Source="TWXP25\Scripts\Include\PlanetLoop.ts"/>
        <File Source="TWXP25\Scripts\Include\PlanetUpgrade.ts"/>
        <File Source="TWXP25\Scripts\Include\PlayerInfo.ts"/>
        <File Source="TWXP25\Scripts\Include\PortCheck.ts"/>
        <File Source="TWXP25\Scripts\Include\PPT.ts"/>
        <File Source="TWXP25\Scripts\Include\Probe.ts"/>
        <File Source="TWXP25\Scripts\Include\Refurb.ts"/>
        <File Source="TWXP25\Scripts\Include\Rob.ts"/>
        <File Source="TWXP25\Scripts\Include\Routes.ts"/>
        <File Source="TWXP25\Scripts\Include\SDF.ts"/>
        <File Source="TWXP25\Scripts\Include\SDT.ts"/>
        <File Source="TWXP25\Scripts\Include\SeekProduct.ts"/>
        <File Source="TWXP25\Scripts\Include\SeekTarget.ts"/>
        <File Source="TWXP25\Scripts\Include\SellSteal.ts"/>
        <File Source="TWXP25\Scripts\Include\ShipStats.ts"/>
        <File Source="TWXP25\Scripts\Include\SSF.ts"/>
        <File Source="TWXP25\Scripts\Include\SSM.ts"/>
        <File Source="TWXP25\Scripts\Include\SST.ts"/>
        <File Source="TWXP25\Scripts\Include\SSTScout.ts"/>
        <File Source="TWXP25\Scripts\Include\StealDump.ts"/>
        <File Source="TWXP25\Scripts\Include\StripCorp.ts"/>
        <File Source="TWXP25\Scripts\Include\StripRank.ts"/>
        <File Source="TWXP25\Scripts\Include\TestSector.ts"/>
        <File Source="TWXP25\Scripts\Include\Warp.ts"/>
        <File Source="TWXP25\Scripts\Include\WorldSSM.ts"/>
        <File Source="TWXP25\Scripts\Include\WorldSST.ts"/>
        <File Source="TWXP25\Scripts\Include\WorldTrade.ts"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PublicComponents" >
      <Component Id="PublicComponent" Directory="SCRIPTS" Guid="f6547010-0143-4b3f-a0f8-0461edf27a99">
        <File Source="Public\ck_2ship_grid.cts"/>
        <File Source="Public\ck_equip_haggle_tracker.cts"/>
        <File Source="Public\ls_Alien411.ts"/>
        <File Source="Public\ls_ORE_v162.ts"/>
        <File Source="Public\ls_PassiveGridder.ts"/>
	    <File Source="Public\ls_PlanetCreator.cts"/>
		<File Source="Public\ls_Traffic.ts"/>
        <File Source="Public\ls_ShipManifest.ts"/>
        <File Source="Public\pro_Bubble.cts"/>
        <File Source="Public\pro_ecolonizer5.cts"/>
        <File Source="Public\pro_ZTM4.ts"/>
        <File Source="Public\ram_Prober.cts"/>
        <File Source="Public\ram_Twarp_Grid.cts"/>
        <File Source="Public\ram_Unfigged_Gridder.cts"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
