<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="TWXP26" Version="2.6.1.1" Manufacturer="eXide" UpgradeCode="b114c312-665b-46de-888f-4eca9918b677">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
      <MsiPackage Id="MainPackage" SourceFile="C:\Projects\TWXProxy\Source\Installer\CoreMSI\bin\Release\TWXProxy.msi" Vital="yes" />
      <MsiPackage Id="Mombot" SourceFile="C:\Projects\TWXProxy\Source\Installer\Mombot\bin\Release\Mombot.msi" Vital="yes" />
    </Chain>
	</Bundle>
</Wix>
