# Build outputs
bin/
!bin/
bin/*
!bin/MTC/
bin/MTC/*
!bin/MTC/osx-arm64/
bin/MTC/osx-arm64/*
!bin/MTC/osx-arm64/MTC
!bin/MTC/osx-x64/
bin/MTC/osx-x64/*
!bin/MTC/osx-x64/MTC
!bin/MTC/win-x64/
bin/MTC/win-x64/*
!bin/MTC/win-x64/MTC.exe
!bin/TWXC/
bin/TWXC/*
!bin/TWXC/osx-arm64/
bin/TWXC/osx-arm64/*
!bin/TWXC/osx-arm64/twxc
!bin/TWXC/osx-x64/
bin/TWXC/osx-x64/*
!bin/TWXC/osx-x64/twxc
!bin/TWXC/win-x64/
bin/TWXC/win-x64/*
!bin/TWXC/win-x64/twxc.exe
!bin/TWXD/
bin/TWXD/*
!bin/TWXD/osx-arm64/
bin/TWXD/osx-arm64/*
!bin/TWXD/osx-arm64/twxd
!bin/TWXD/osx-x64/
bin/TWXD/osx-x64/*
!bin/TWXD/osx-x64/twxd
!bin/TWXD/win-x64/
bin/TWXD/win-x64/*
!bin/TWXD/win-x64/twxd.exe
obj/
*/bin/
*/obj/
MTC/publish/
Installer/Windows/bin/
Installer/Windows/obj/
Installer/Windows/artifacts/
Modules/*/bin/
Modules/*/obj/
**/__pycache__/
*.user
.DS_Store
