<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="TWX Proxy Public Scripts" Language="1033" Version="2.6.5.3" Manufacturer="eXide" UpgradeCode="e00ce659-8829-4a30-a00b-113f9057485e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <!-- This code would bind the version to the product file, but I dont want to do that at this time...
      <Product Version="!(bind.FileVersion.MyAssemblyDll)" ...="">
      <File Id="MyAssemblyDll" Name="$(var.001_Application.MyAssembly.TargetFileName)" Source="$(var.001_Application.MyAssembly.TargetPath)" />-->
      
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="TWX Proxy" Level="1" Absent="disallow" ConfigurableDirectory="TWXPROXY" Description="Installs the main TWX Proxy program, including Pack 1 / 2">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" /> 
    </Feature>
    <Feature Id="PublicFeature" Title="Public Scripts" Level="1" TypicalDefault="install" Description="Installs common public scripts. These scripts are provided 'as-is' with no documentation. Use at your own risk.">
      <ComponentGroupRef Id="PublicComponents" />
    </Feature>

		<Property Id="TWXPROXY" Secure="yes">
			<RegistrySearch Id="ApplicationFolderSearch" Type="raw" Root="HKCU" Key="Software\eXide\TWXP" Name="InstallPath"/>
		</Property>
		<Property Id="WIXUI_INSTALLDIR" Value="TWXPROXY" />
		<UIRef Id="WixUI_Minimal" />
	</Product>

	<Fragment>
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <Property Id="ApplicationFolderName" Value="TWXProxy" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\sidelogo.jpg" />
    <SetDirectory Id="APPLICATIONFOLDER" Value="[WindowsVolume]" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="AppFolder">
          <Directory Id="TWXPROXY" Name="TWXProxy" >
            <Directory Id="SCRIPTS" Name="Scripts" >
              <Directory Id="INCLUDE" Name="Include" />
				<Directory Id="SUPG" Name="SupG" >
					<Directory Id="SUPGI" Name="SupGInclude" />
				</Directory>
			</Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TWX Proxy" />
      </Directory>
    </Directory>
        
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="a80ea87e-bc43-4fda-847a-d7ace2071a08">
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\eXide\TWXP" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>

	<Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ProductComponent" Directory="TWXPROXY" Guid="36d4d996-21c0-4cd5-b943-4bd3effa00fe" >
        <RegistryValue Id="InstallPath" Root="HKCU" Key="Software\eXide\TWXP"  Name="InstallPath" Type="string" Value="[TWXPROXY]" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PublicComponents" >
      <Component Id="PublicComponent" Directory="SCRIPTS" Guid="f6547010-0143-4b3f-a0f8-0461edf27a99">
        <File Source="Public\Al_Auto_Login.cts"/>
        <File Source="Public\Al_Cit_Evac_2.cts"/>
        <File Source="Public\Al_Pbuster_2.cts"/>
        <File Source="Public\Al_Pdrop_2.cts"/>
        <File Source="Public\Al_Planet_Creation_2.11.cts"/>
        <File Source="Public\Al_Planet_Creation_2.cts"/>
        <File Source="Public\Al_Probe_Hunter_2.cts"/>
        <File Source="Public\Al_Quick_Kill_2.cts"/>
        <File Source="Public\Al_Seek_Out_2.01.cts"/>
        <File Source="Public\Al_Surround_Photon_2.cts"/>
        <File Source="Public\ck_2ship_grid.cts"/>
        <File Source="Public\ck_buydown.cts"/>
        <File Source="Public\ck_callsaveme.cts"/>
        <File Source="Public\ck_equip_haggle_tracker.cts"/>
        <File Source="Public\ck_exit_enter.cts"/>
        <File Source="Public\ck_furb.cts"/>
        <File Source="Public\ck_gamesettings.cts"/>
        <File Source="Public\ck_lawnmow.cts"/>
        <File Source="Public\ck_mine_deploy.cts"/>
        <File Source="Public\ck_move_surround.cts"/>
        <File Source="Public\ck_overload_checker.cts"/>
        <File Source="Public\ck_pdrop.cts"/>
        <File Source="Public\ck_perslimp_deploy.cts"/>
        <File Source="Public\ck_ping.cts"/>
        <File Source="Public\ck_planet_nego.cts"/>
        <File Source="Public\ck_refresh_figs.cts"/>
        <File Source="Public\ck_relog.cts"/>
        <File Source="Public\ck_saveme.cts"/>
        <File Source="Public\ck_SDT.cts"/>
        <File Source="Public\ck_ship_cap.cts"/>
        <File Source="Public\ck_ship_stats.cts"/>
        <File Source="Public\ck_SST+JET.cts"/>
        <File Source="Public\ck_superphoton.cts"/>
        <File Source="Public\ck_surround.cts"/>
        <File Source="Public\ck_ztm.cts"/>
        <File Source="Public\dny_adj_fig_hit_killa.ts"/>
        <File Source="Public\dny_casual_grid.ts"/>
        <File Source="Public\dny_casual_gridmow.ts"/>
        <File Source="Public\dny_citkilla.ts"/>
        <File Source="Public\dny_coordinator.ts"/>
        <File Source="Public\dny_counter_torp.ts"/>
        <File Source="Public\dny_dock_kit.ts"/>
        <File Source="Public\dny_easy_gridder.ts"/>
        <File Source="Public\dny_fed_echo.ts"/>
        <File Source="Public\dny_fighit_snippet.ts"/>
        <File Source="Public\dny_holokilla.ts"/>
        <File Source="Public\dny_holokilla_v2.ts"/>
        <File Source="Public\dny_invisible_keepalive.ts"/>
        <File Source="Public\dny_killfig.ts"/>
        <File Source="Public\dny_planet_vacuum.ts"/>
        <File Source="Public\dny_print_alien_spaces.ts"/>
        <File Source="Public\dny_public_ugridder-docs.txt"/>
        <File Source="Public\dny_public_ugridder.cts"/>
        <File Source="Public\dny_quicklogs.ts"/>
        <File Source="Public\dny_quick_figs.ts"/>
        <File Source="Public\dny_quick_foton.ts"/>
        <File Source="Public\dny_refiller.ts"/>
        <File Source="Public\dny_simple_pgridder.ts"/>
        <File Source="Public\dny_target.ts"/>
        <File Source="Public\DU_Seek_Out_2.31.cts"/>
        <File Source="Public\end_bd.ts"/>
        <File Source="Public\end_dp.ts"/>
        <File Source="Public\end_erp.ts"/>
        <File Source="Public\end_ne.ts"/>
        <File Source="Public\end_pg.ts"/>
        <File Source="Public\end_qx.ts"/>
        <File Source="Public\end_re.ts"/>
        <File Source="Public\end_rer.ts"/>
        <File Source="Public\end_rt.ts"/>
        <File Source="Public\end_sd.ts"/>
        <File Source="Public\end_sst.ts"/>
        <File Source="Public\end_xpd.ts"/>
        <File Source="Public\EP_ansi.ts"/>
        <File Source="Public\EP_CinemaViewer.ts"/>
        <File Source="Public\EP_Class_0.ts"/>
        <File Source="Public\EP_displayAnsiLine.ts"/>
        <File Source="Public\EP_FindSin.ts"/>
        <File Source="Public\EP_no_mugging.ts"/>
        <File Source="Public\EP_Sin.ts"/>
        <File Source="Public\EP_TunnelReport.ts"/>
        <File Source="Public\Kaus_Borg_GPMakerPub.ts"/>
        <File Source="Public\Kaus_Inefficent Tmilker.ts"/>
        <File Source="Public\Kaus_SS_Crawler.cts"/>
        <File Source="Public\Kaus_TerraFarmer.cts"/>
        <File Source="Public\ls_0__Index.txt"/>
        <File Source="Public\ls_0__Scripts.txt"/>
        <File Source="Public\ls_Alien411.ts"/>
        <File Source="Public\ls_BeRightBack_v1.ts"/>
        <File Source="Public\ls_Boton_v13.ts"/>
        <File Source="Public\ls_BRBv1.ts"/>
        <File Source="Public\ls_Bust_Manager.ts"/>
        <File Source="Public\ls_CIMHunter_v20.ts"/>
        <File Source="Public\ls_CLV.ts"/>
        <File Source="Public\ls_CLV_Sort.ts"/>
        <File Source="Public\ls_Combined_Mover_v11.ts"/>
        <File Source="Public\ls_deFILER_v1.ts"/>
        <File Source="Public\ls_Dock_Me.ts"/>
        <File Source="Public\ls_Dock_Shopper_v33.ts"/>
        <File Source="Public\ls_DTorp_v1.ts"/>
        <File Source="Public\ls_finderv1.cts"/>
        <File Source="Public\ls_FURBY.ts"/>
        <File Source="Public\ls_Grid_Maker_v104.ts"/>
        <File Source="Public\ls_Invader.ts"/>
        <File Source="Public\ls_Limp_pDrop_3.ts"/>
        <File Source="Public\ls_Load_v30.ts"/>
        <File Source="Public\ls_LOZIP304.cts"/>
        <File Source="Public\ls_LSECTv162.ts"/>
        <File Source="Public\ls_LSPassiveGridder.010.ts"/>
        <File Source="Public\ls_LSurroundv2.ts"/>
        <File Source="Public\ls_LSZTM_11.ts"/>
        <File Source="Public\ls_MapArt.ts"/>
        <File Source="Public\ls_MCIC.001.ts"/>
        <File Source="Public\ls_merc.ts"/>
        <File Source="Public\ls_Move_Helper.ts"/>
        <File Source="Public\ls_New_Game_v192.ts"/>
        <File Source="Public\ls_ORE_v162.ts"/>
        <File Source="Public\ls_ozip212.cts"/>
        <File Source="Public\ls_ozip212.txt"/>
        <File Source="Public\ls_PassiveGridder.010.ts"/>
        <File Source="Public\ls_PGRiDDER06.ts"/>
        <File Source="Public\ls_planet.ts"/>
        <File Source="Public\ls_planet_creation_v10.cts"/>
        <File Source="Public\ls_planet_creation_v10a.ts"/>
        <File Source="Public\ls_Planet_Stripper_v103.ts"/>
        <File Source="Public\ls_Ports.ts"/>
        <File Source="Public\ls_SafeMow.ts"/>
        <File Source="Public\ls_Scout_v20.ts"/>
        <File Source="Public\ls_SECTv162.ts"/>
        <File Source="Public\ls_sload10.cts"/>
        <File Source="Public\ls_sload10.readme.txt"/>
        <File Source="Public\ls_Speed_Mow.ts"/>
        <File Source="Public\ls_Surroundv2.ts"/>
        <File Source="Public\ls_SWAT_v10.ts"/>
        <File Source="Public\ls_Terra ALARM.ts"/>
        <File Source="Public\ls_tfinderv11.ts"/>
        <File Source="Public\ls_Traffic.ts"/>
        <File Source="Public\ls_TRv103.ts"/>
        <File Source="Public\ls_Tunnel_Finder_v10.ts"/>
        <File Source="Public\ls_txt_spitter.ts"/>
        <File Source="Public\ls_UnExScout_v3.ts"/>
        <File Source="Public\ls_WarpFinderv13.ts"/>
        <File Source="Public\ls_WARPSpec.ts"/>
        <File Source="Public\ls_Who.002.ts"/>
        <File Source="Public\ls_YourItv360.ts"/>
        <File Source="Public\ls_ZTM_11.ts"/>
        <File Source="Public\ls__ShipManifest.ts"/>
        <File Source="Public\man_alienhunt.ts"/>
        <File Source="Public\Rin_Bot.ts"/>
        <File Source="Public\Rin_taliation.ts"/>
        <File Source="Public\Rin_burst_and_retreat.ts"/>
        <File Source="Public\Rin_figme.ts"/>
        <File Source="Public\Rin_loader.ts"/>
        <File Source="Public\Rin_minedeploy.ts"/>
        <File Source="Public\Rin_plocker.ts"/>
        <File Source="Public\Rin_quick_pgridder.ts"/>
        <File Source="Public\Rin_Team_SDT.ts"/>
        <File Source="Public\Rin_Team_SST.ts"/>
        <File Source="Public\Saar_fin.ts"/>
        <File Source="Public\Saar_furb.ts"/>
        <File Source="Public\Saar_ZTM.ts"/>
        <File Source="Public\Rin_surround.ts"/>
        <File Source="Public\oz_planet-trade_best.ts"/>
        <File Source="Public\oz_planet-trade_speed.ts"/>
        <File Source="Public\al_PlanetSectorFigDump.ts"/>
        <File Source="Public\oz_bot_109b.ts"/>
        <File Source="Public\md_LawnMow.ts"/>
        <File Source="Public\md_PlanetStripper.ts"/>
        <File Source="Public\misc_ANS Code Generator.ts"/>
        <File Source="Public\misc_Changes.cts"/>
        <File Source="Public\misc_data_aliens.cts"/>
        <File Source="Public\misc_data_explored.cts"/>
        <File Source="Public\misc_data_ferrengispace.cts"/>
        <File Source="Public\misc_data_findbeacon.cts"/>
        <File Source="Public\misc_data_finddensity.cts"/>
        <File Source="Public\misc_data_ships.cts"/>
        <File Source="Public\misc_data_trader.cts"/>
        <File Source="Public\misc_data_unexplored.cts"/>
        <File Source="Public\misc_IDC_Drain.cts"/>
        <File Source="Public\misc_Optimizer.ts"/>
        <File Source="Public\misc_quickstat.ts"/>
        <File Source="Public\misc_Reader.ts"/>
        <File Source="Public\misc_StripTrailing.ts"/>
        <File Source="Public\misc__Deploy.ts"/>
        <File Source="Public\misc__gem_mrob.cts"/>
        <File Source="Public\misc__gem_quick_dock.cts"/>
        <File Source="Public\misc__kl_limpet_watcher1.ts"/>
        <File Source="Public\misc__kl_no_aln_upgrade.ts"/>
        <File Source="Public\mob_shipscrubberv18.ts"/>
        <File Source="Public\oz_cit-killa.ts"/>
        <File Source="Public\oz_flex-foton.ts"/>
        <File Source="Public\oz_foton.ts"/>
        <File Source="Public\oz_planet-grid.ts"/>
        <File Source="Public\oz_pre-foton.ts"/>
        <File Source="Public\oz_improved_foton.ts"/>
        <File Source="Public\oz_twarp_saveme_botver.ts"/>
        <File Source="Public\phs_pdrop.cts"/>
        <File Source="Public\phs_pdrop.ts"/>
        <File Source="Public\ph_alienspace.cts"/>
        <File Source="Public\ph_filereader.ts"/>
        <File Source="Public\ph_klearsector.cts"/>
        <File Source="Public\ph_klearsector.ts"/>
        <File Source="Public\ph_menu.ts"/>
        <File Source="Public\ph_menumask.txt"/>
        <File Source="Public\ph_mine_deploy.cts"/>
        <File Source="Public\ph_msl_echo.cts"/>
        <File Source="Public\ph_msl_echo.ts"/>
        <File Source="Public\ph_pdrop.cts"/>
        <File Source="Public\ph_pdrop.ts"/>
        <File Source="Public\ph_perslimp_deploy.cts"/>
        <File Source="Public\ph_qss.cts"/>
        <File Source="Public\ph_readme_menu.txt"/>
        <File Source="Public\ph_runawaytracker_standalone.cts"/>
        <File Source="Public\ph_savevoids.cts"/>
        <File Source="Public\ph_scrolling banner.ts"/>
        <File Source="Public\ph_setvoids.cts"/>
        <File Source="Public\phx_AFK.ts"/>
        <File Source="Public\phx_figmover.ts"/>
        <File Source="Public\phx_InCommunicado.ts"/>
        <File Source="Public\phx_MacroLoop.ts"/>
        <File Source="Public\phx_QuickDraw.ts"/>
        <File Source="Public\phx_SectorList.ts"/>
        <File Source="Public\phx_Stats.ts"/>
        <File Source="Public\pro_AdjacentSpeedBuy.ts"/>
        <File Source="Public\pro_AssetCheck.ts"/>
        <File Source="Public\pro_BaseMove.cts"/>
        <File Source="Public\pro_Bubble.cts"/>
        <File Source="Public\pro_cannondamage.cts"/>
        <File Source="Public\pro_ecolonizer5.cts"/>
        <File Source="Public\pro_EprobeRemote.cts"/>
        <File Source="Public\pro_fueler.cts"/>
        <File Source="Public\pro_gameassets.cts"/>
        <File Source="Public\pro_GameInfo_4.cts"/>
        <File Source="Public\pro_GameOpen.cts"/>
        <File Source="Public\pro_gd.cts"/>
        <File Source="Public\pro_gt.cts"/>
        <File Source="Public\pro_masscitbuilderv09.ts"/>
        <File Source="Public\pro_md.cts"/>
        <File Source="Public\pro_Monitor.cts"/>
        <File Source="Public\pro_mt.cts"/>
        <File Source="Public\pro_Ping.cts"/>
        <File Source="Public\pro_Ping.ts"/>
        <File Source="Public\pro_planet_display.ts"/>
        <File Source="Public\pro_Relog.cts"/>
        <File Source="Public\pro_ScriptPack.txt"/>
        <File Source="Public\pro_ShipAnalysis.cts"/>
        <File Source="Public\pro_SSWarpSpec.ts"/>
        <File Source="Public\pro_ZTM4.ts"/>
        <File Source="Public\pro_ZTMSpeed20.cts"/>
        <File Source="Public\pro_ZTM_Speed.ts"/>
        <File Source="Public\psii_AvoidMgr.ts"/>
        <File Source="Public\psii_MSLCheck.ts"/>
        <File Source="Public\psii_PLander.ts"/>
        <File Source="Public\psii_PMove.ts"/>
        <File Source="Public\ram_P-Grid.cts"/>
        <File Source="Public\ram_P-Grid_Readme.txt"/>
        <File Source="Public\ram_Path-Blast.cts"/>
        <File Source="Public\ram_Path-Blast_Readme.txt"/>
        <File Source="Public\ram_pgrid_driver.ts"/>
        <File Source="Public\ram_Prober.cts"/>
        <File Source="Public\ram_Prober_Readme.txt"/>
        <File Source="Public\ram_Pwarp_Density_Scout.cts"/>
        <File Source="Public\ram_Pwarp_Density_Scout_Readme.txt"/>
        <File Source="Public\ram_Team_SDT.cts"/>
        <File Source="Public\ram_Twarp_Grid.cts"/>
        <File Source="Public\ram_Twarp_Grid_Readme.txt"/>
        <File Source="Public\ram_Unfigged_Gridder.cts"/>
        <File Source="Public\Ryder_GPM.ts"/>
        <File Source="Public\tt_0_0_02_dataminer.ts"/>
        <File Source="Public\tt_0_0_2_dock_kill.ts"/>
        <File Source="Public\tt_0_0_Lurk_Offline_Photoner.ts"/>
        <File Source="Public\tt_3_4_5_public_move_helper.cts"/>
        <File Source="Public\tt_auto_extern_login.ts"/>
        <File Source="Public\tt_buster.ts"/>
        <File Source="Public\tt_cit_killah.ts"/>
        <File Source="Public\tt_CommWatch.ts"/>
        <File Source="Public\tt_dock_killah_3.ts"/>
        <File Source="Public\tt_eq_buy_MCIC.ts"/>
        <File Source="Public\tt_macro_mgr.ts"/>
        <File Source="Public\tt_q_probe.ts"/>
        <File Source="Public\TurboSST.ts"/>
        <File Source="Public\vid_clrmess.ts"/>
        <File Source="Public\vid_cr_check.ts"/>
        <File Source="Public\vid_figchanger.cts"/>
        <File Source="Public\vid_fighits.cts"/>
        <File Source="Public\vid_JetCols.cts"/>
        <File Source="Public\vid_quickfigs_ck.cts"/>
        <File Source="Public\vid_quickfigs_rm.cts"/>
        <File Source="Public\vid_quickfigs_sg.cts"/>
        <File Source="Public\vid_SetAvoids.cts"/>
        <File Source="Public\vid_startup.ts"/>
        <File Source="Public\vid_timecheck.ts"/>
        <File Source="Public\vid_universal_figs.cts"/>
        <File Source="Public\vid_UpPort2.cts"/>
        <File Source="Public\wild_Class O Buydown.cts"/>
        <File Source="Public\Wild_Colonizer V2.03.cts"/>
        <File Source="Public\Wild_Combined Mover.cts"/>
        <File Source="Public\Wild_Corpie Grabber.cts"/>
        <File Source="Public\Wild_Colonists Dump.cts"/>
        <File Source="Public\Wild_Colonizer.cts"/>
        <File Source="Public\Wild_Game Stats.cts"/>
        <File Source="Public\Wild_Ore Whore  V2.03.cts"/>
        <File Source="Public\Wild_Ore Whore.cts"/>
        <File Source="Public\Wild_Red Colonizer.cts"/>
        <File Source="Public\Wild_SDrop.cts"/>
        <File Source="Public\Wild_Sector Fighters To Planet Script.cts"/>
        <File Source="Public\Wild_Ship Mover.cts"/>
        <File Source="Public\Wild_Unexplored Sector Scout.cts"/>
        <File Source="Public\Wild_UnexploredSectorScout204.cts"/>
        <File Source="Public\Wild_Lawnmower.cts"/>
        <File Source="Public\xan_amtrak.ts"/>
        <File Source="Public\XBot.ts"/>
        <File Source="Public\XBotCmd.ts"/>
        <File Source="Public\Zen-PlanetCreation3.cts"/>
      </Component>
      <Component Id="SupgComponent" Directory="SUPG" Guid="a2993c51-f412-49c1-83fb-364273517eac">
        <File Source="Public\Supg\1ShipClearSupG.ts"/>
        <File Source="Public\Supg\2shipclear.ts"/>
        <File Source="Public\Supg\amtrak.ts"/>
        <File Source="Public\Supg\Attack.ts"/>
        <File Source="Public\Supg\botSupG.ts"/>
        <File Source="Public\Supg\busttrack.ts"/>
        <File Source="Public\Supg\BuyDownSupG.ts"/>
        <File Source="Public\Supg\Class0SupG.ts"/>
        <File Source="Public\Supg\clear.ts"/>
        <File Source="Public\Supg\ColoSupG.ts"/>
        <File Source="Public\Supg\dataman.ts"/>
        <File Source="Public\Supg\dedendkiller.ts"/>
        <File Source="Public\Supg\dedendtrapper.ts"/>
        <File Source="Public\Supg\FurbSupG.ts"/>
        <File Source="Public\Supg\hello.ts"/>
        <File Source="Public\Supg\IG.ts"/>
        <File Source="Public\Supg\LawnMowerSupG.ts"/>
        <File Source="Public\Supg\NearFigSupG.ts"/>
        <File Source="Public\Supg\PairFinderSupG.ts"/>
        <File Source="Public\Supg\Pdrop.ts"/>
        <File Source="Public\Supg\Prober.ts"/>
        <File Source="Public\Supg\PtorpSupG.ts"/>
        <File Source="Public\Supg\QuikPanelSupG.ts"/>
        <File Source="Public\Supg\Refill.ts"/>
        <File Source="Public\Supg\Rescue.ts"/>
        <File Source="Public\Supg\saveme.ts"/>
        <File Source="Public\Supg\SDTSupG.ts"/>
        <File Source="Public\Supg\ShipCapSupG.ts"/>
        <File Source="Public\Supg\SSTSupG.ts"/>
        <File Source="Public\Supg\surround.ts"/>
        <File Source="Public\Supg\Target.ts"/>
        <File Source="Public\Supg\TripDistance.ts"/>
        <File Source="Public\Supg\TripDistanceSupG.ts"/>
        <File Source="Public\Supg\TUCimHunter.ts"/>
        <File Source="Public\Supg\TunnelListSupG.ts"/>
        <File Source="Public\Supg\TUPbuster.ts"/>
        <File Source="Public\Supg\TUTandemPtorp.ts"/>
        <File Source="Public\Supg\twowaytorp.ts"/>
        <File Source="Public\Supg\WorldPTrade.ts"/>
        <File Source="Public\Supg\WorldSSMSupG.ts"/>
        <File Source="Public\Supg\ZTMSupG.ts"/>
      </Component>
      <Component Id="SupgIncludeComponent" Directory="SUPGI" Guid="c2031bc2-74e3-4c48-8216-3710d8c26d85">
        <File Source="Public\Supg\SupgInclude\cimhunt_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\clv_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\corp_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\db_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\gameinfo_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\haggle_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\moveai_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\nearfig_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\nearfig_incnew.ts"/>
        <File Source="Public\Supg\SupgInclude\parseansi_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\phaggle_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\planet_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\port_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\ppt_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\promptcheck_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\shipinfo_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\ship_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\signature_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\ssm_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\stardock_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\SupGBot_inc.ts"/>
        <File Source="Public\Supg\SupgInclude\trim_inc.ts"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
